
<form ng-submit="controller.saveBook()">
    <div>
        <div ng-repeat="error in controller.errors.title">{{error}}</div>
    <input ng-model="controller.book.title" placeholder="Title" />
    </div>
    <div>
        <div ng-repeat="error in controller.errors.author">{{error}}</div>
    <input ng-model="controller.book.author" placeholder="Author" />
    </div>
    <div>
        <div ng-repeat="error in controller.errors.genre">{{error}}</div>
    <input ng-model="controller.book.genre" placeholder="Genre" />
    </div>
    <div>
        <div ng-repeat="error in controller.errors.pageCount">{{error}}</div>
    <input ng-model="controller.book.pageCount" placeholder="Pages" />
    </div>

    <input type="submit" value="Save Book" />

</form>